<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.steppy.keepfit">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:label="KeepFit"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_n"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".AlarmReceiver"> </receiver>

        <receiver
            android:name=".DeviceBootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:theme="@android:style/Theme.Material.Light.Dialog.NoActionBar" android:name=".AddGoalsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity android:theme="@android:style/Theme.Material.Light.Dialog.NoActionBar" android:name=".AddStepsActivity" >
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity"/>
        </activity>
        <activity android:name=".EditGoalsActivity" />
        <activity android:name=".SettingsActivity" android:screenOrientation="portrait">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity"/>
        </activity>
        <activity android:name=".DeleteHistoryActivity" android:screenOrientation="portrait"/>
        <activity android:name=".StatisticsActivity" android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <service
            android:name=".StepDetector"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>